@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --col-h1: rgba(3, 155, 100, 0.75);
    --col-h2: #aa8eb8;
    --col-p: #454;
    --col-a: #214e34;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: whitesmoke;
    background-image: url('../Images/coffee-bgnd.jpeg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.header {
    height: 500px;
}

.header > h1 {
    font-family: "Covered By Your Grace", cursive;
    color: var(--col-h1);
}

h2 {
    background-color: var(--col-h2);
}

p {
    color: var(--col-p);
    text-align: justify;
    text-indent: 32px;

}

a:link {
    letter-spacing: 2px;
    color: var(--col-a);
}

a:visited {
    color: violet;
}

a:hover {
    color: red;
}

a:active {
    color: yellow;
}